name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Setup Mise
        uses: jdx/mise-action@v3
        with:
          mise_toml: |
            [tools]
            zig = "0.15.2"
            "github:tequdev/guard-checker" = "latest"
            "github:tequdev/hook-cleaner" = "latest"

      - name: Build
        run: zig build

      - name: Test
        run: zig build test
